body {
  margin: 0;
  font-size: 20px;
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-weight: 200;
  color: #6e6e6e; }

a {
  color: #515151;
  text-decoration: none; }

p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px; }

h1 {
  font-weight: 200; }

ul {
  list-style-type: none;
  padding: 0; }

::selection {
  background-color: #e77878;
  color: white; }

.wrapper {
  width: 100%;
  box-sizing: border-box;
  background-color: #fefefe; }

.link-menu {
  font-size: 2.2rem; }
  .link-menu:hover {
    color: #807d7d; }

.main-content {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center; }

.headline {
  font-size: 3.6rem;
  font-weight: 400; }

.headline-main {
  color: #3c3c3c; }

.download {
  padding-top: 40px; }

.btn-download {
  display: inline-block;
  text-align: center;
  padding: 6px;
  background-color: #424242;
  color: white;
  border: 2px solid #6c6c6c;
  font-size: 1.2rem; }
  .btn-download:hover {
    background-color: #6c6c6c;
    color: #ececec;
    border: 2px solid #424242; }

.sidebar {
  background-color: #2d383e; }
  .sidebar li + li {
    margin-top: 12px; }
  .sidebar li a {
    padding: 4px 10px;
    display: block;
    color: #cecece; }
    .sidebar li a:hover {
      background-color: #424242; }
  .sidebar li .current {
    background-color: #6b6464; }
  
  .topnav{
      width: 100%;
    float: left;
    background-color: antiquewhite;
    height: 50px;
  }
