.modelouterbody {
        display: none;
        position: fixed;
        z-index: 999999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.4);
        overflow: auto;
    }

    .modeinnerbody {
        background-color: #fefefe;
        border: 1px solid #888;
        box-shadow: 3px 14px 23px 8px rgba(171, 164, 168, 0.62);
        margin-bottom: 0;
        width: 40%; 
        margin-top:10%; 
        height:60%; 
        margin-left: 30%
    }

    .modeinnerbody > .modelheader {
            font-size: 15px;
        }

    .modelheader {
    background-color: #303030;
    font-family: Open Sans;
    font-size: 17px;
    height: 25px;
    width: auto;
    padding: 10px;
    padding-right: 20px;       
    }
    .button {
        background-color: #0e1b47;
        border: none;
        color: white;
        height: 28px;
        width: 77px;
        border-radius: 4px;
        text-align: center;
        position: relative;
        display: inline-block;
        font-size: 13px;
        font-family: arial;
        cursor: pointer;
        margin-left: 3px;
    }
        @media screen and (max-width: 768px){
        .modelouterbody{
        width: 100%;
        padding-top: 30px;
        }
        .modeinnerbody{
        width: 66%;
        height: 40%;
        margin-top: 10%;
        margin-left: 18%;
        }
    }
