html {
    color: #222;
    font-size: 13px;
    line-height: 1.4;
    font-family: 'calibri'
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

 

  .container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.box{
  width: 300px;
  height: 50px;
  float:left;
}
.container-1{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  padding-right: 25%
}

.button {
background-color: #0e1b47;
    border: none;
    color: white;
    height: 28px;
    width: 77px;
    border-radius: 8px;
    top:4px;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-family: arial;
    cursor: pointer;
    left: 10px;
    float:left;
    margin-left:3%;
}

.container-1 input#search{
  width: 100%;
  height: 70%;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 7px
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-1 .icon{
  position: absolute;
  top: 40%;
  margin-left: 17px;
  z-index: 1;
  color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }

/*search input css*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font-size: 13px
}
.header-container
{
    width: 100%;
    height: 8%;
    background-color: #515e9c;
}
.main-container
{
    width: 100%;
    height: 100%;
    margin:auto;
    padding: auto;
}
.sub-container
{
    width: 100%;
    height: 87%;
    margin:auto;
    padding: auto;
}
.row
{
    height: 100%;
    width: 15%;
    background-color: #2d383e;
    float:left;
}
.footer-container footer {
    height: 5%;
    background-color:#dcdcdc;
    -webkit-box-shadow: inset 0 0 5px #a2aeb7;
    -moz-box-shadow: inset 0 0 5px #a2aeb7;
    box-shadow: inset 0 0 5px #a2aeb7;
}
input[type=text] {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    border: none;
    width: 35%;
    height: 70%;
    position: relative;
    right: 2%;
    float: right;
    top: 15%;
    background-image: url('search.png')
}
.div1{
     width: 25px;
    height: 4px;
    background-color:#444444;
    margin:2px 6px 0px 14px;
    
}

.sidebtn{
    width:4%;
    height:42px;
    background-color:#fff;
    float:right;
    margin-top:7px;
    margin-right:1%;
    border-radius:8px
}

.ul {
    margin: 0;
    padding: 0;
    background: #2d383e;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-weight: bold
}

.ul_1{
    width:100%;
    height: 8%;
    float:left;
    padding-bottom:5%;
    cursor: pointer;
}
.ul_1:hover{
    background-color: #1d1d1d;
    }
.ul_1_1{
    float:left;
    width: 25%;
    height:100%;
    padding-left: 10%;
    padding-top: 5%;
    margin-right: 8%;
}
.ul_1_2{
    float:left;
    width:50%;
    height:100%;
    padding-top:10%;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.width0p{
    width:100%;
}
.ul{
    font-weight: normal;
}
.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 13px;
}

/*table code*/
table {
    border-collapse: collapse;
    width: 100%;
}
th{
background-color:#f7f7f7;
   color: #515e9c;
   font-size:13px;
}

td{
    font-size: 14px
}
th, td {
    padding:5px;
    text-align: left;
    border-bottom: 1px solid #adadad;
}

tr:hover{background-color:#f5f5f5}



.menu-container {
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.view-submenu .menu-container {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.ga2 {
     position: absolute;
    padding: 0px;
    width: 15%;
    height: 87%;
    color: #ededed;
    z-index: 99;
    /* background-color: #313131; */
}

.ga2 .ga1 a {
  opacity: 0;
  display: block;
  padding: 10px 12px;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
  -webkit-transition: opacity 0.15s 0.1s ease-out, -webkit-transform 0.15s 0.1s ease-out;
  transition: opacity 0.15s 0.1s ease-out, -webkit-transform 0.15s 0.1s ease-out;
  transition: opacity 0.15s 0.1s ease-out, transform 0.15s 0.1s ease-out;
  transition: opacity 0.15s 0.1s ease-out, transform 0.15s 0.1s ease-out, -webkit-transform 0.15s 0.1s ease-out;
}

.ga2 .ga1.has-children span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 12px 16px;
  text-indent: -9999px;
}

.ga2 .ga1.has-children span:after {
  content: "";
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
  margin: auto;
  padding: 4px;
  width: 0px;
  height: 0px;
  cursor: pointer;
  font-size: 0;
  border-bottom: 2px solid #ededed;
  border-right: 2px solid #ededed;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ga2 .ga1.has-children span:hover:after { border-color: #bababa; }

.menu {
  opacity: 0;
  -webkit-transition: background-color 0.25s ease-out, opacity 0.15s ease-out;
  transition: background-color 0.25s ease-out, opacity 0.15s ease-out;
}

.menu.is-visible { opacity: 1; }

.menu.is-visible .ga1 a {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.view-submenu .menu { background-color: #3e3e3e; }

.view-submenu .menu > .ga1 > a {
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #313131;
}

.submenu li { margin-left: 60px; }

.hide-submenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 508px;
  cursor: pointer;
  background-color: #313131;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.hide-submenu:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
  margin: auto;
  padding: 4px;
  width: 6px;
  height: 6px;
  cursor: pointer;
  font-size: 0;
  border-bottom: 2px solid #ededed;
  border-right: 2px solid #ededed;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  left: 0;
  right: -6px;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}

.view-submenu .hide-submenu { background-color: #3e3e3e; }

.view-submenu .hide-submenu:before {
  opacity: 1;
  -webkit-transition: opacity 0.15s 0.3s ease-out;
  transition: opacity 0.15s 0.3s ease-out;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.toggle {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5%;
  height: 8%;
  top: 0%;
  left:1%;
  cursor: pointer;
}

.toggle span {
  position: relative;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 0;
  width: 26px;
  height: 2px;
  background-color: #ededed;
  border-radius: 100px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.toggle span:before, .toggle span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ededed;
  border-radius: 100px;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.toggle span:before { bottom: calc(100% + 6px); }

.toggle span:after { top: calc(100% + 6px); }

.is-visible .toggle span { background-color: transparent; }

.is-visible .toggle span:before {
  bottom: auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.is-visible .toggle span:after {
  top: auto;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mainscrn{
   width:100%;
   height:100%;
}
.mainscrn_1{
width:100%;
height:70%
}
.mainscrn_2{
width: 50%;
height: 100%;
background-color:white;
float:left;
}
.mainscrn_3{
width:100%;
height:10%;
background-color:#f7f7f7;
float:left;
border-bottom:1px solid #adadad;
}

.mainscrn_3_1{
width:100%;
height:6%;
position:relative;
top:3.5%;
padding-bottom:7.7%;
position:relative;
left:0%
 }

.mainscrn_3_2{
width:100%;
height:6%;
position:relative;
top:4%;
padding-bottom:3.2%;
position:relative;
left:0%
}

.mainscrn_3_3{
width:100%;
height:6%;
position:relative;
top:4%;
padding-bottom:3.2%;
position:relative;
left:0%;
}

.mainscrn_3_3{
width:20%;
height:100%;
float:left;
position:relative;
left:6%;
font-weight:bold;
top:2px; 
}

.mainscrn_3_4{
width:100%;
height:6%;
position:relative;
top:4%;
padding-bottom:3.2%;
position:relative;
left:0%;
}

.mainscrn_3_5{
width:100%;
height:6%;
position:relative;
top:4%;
padding-bottom:3.2%;
position:relative;
left:0%;
}

    /* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px){

/* ====================
    INTERMEDIATE: Menu
   ==================== */

.row{
    width:20%;   
}
.ul_1_2{
    padding-top: 15px;
}
.ul{
    font-size:12px
}
.ul_1_1{
    width:34%
}
.sidebtn{
    width:4%;
    height:23px;
    margin-top:3px;
}
.div1 {
    width: 16px;
    height: 3px;   
    margin: 0px 6px 0px 7px;
    margin-top: 4px!important;
    
}
.ga2{
    width:19%;
    height:87%;
}
.container-1{
    padding-right:19%;
}
.header-container{
    height:8%;
}
.footer-container footer{
    height:6%;
}
.container-1 input#search{
    height:36%;
}
.container-1 .icon{
    top:32%;
}
.container-1 input#search{
    margin-top: 4px;
}
.toggle{
    width: 5%;
    height: 8%;
}
.width0p{
    width:50%;
}
.ul_1{
    padding-bottom: 4%;
}
.ul_1{
    height: 10%;
}
}

@media only screen and (max-width:400px) and (min-width:300px){
.ul{
    font-size:11px
}
.ul_1{
    height:8%;
padding-bottom: 10%;
}
.ul_1_1{
    width:24%
}
.ul_1_2 {
    padding-top: 13px;
    padding-left: 9%;
}
.width0p{
    width:90%;
}
.ga2{
    width:34%
}
.box{
    width:0px
}
}
.gaga2{
    width:100%;
    height:100%;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


