.messageshow {
 display: none;
width: 60%;
z-index: 1000;
position:absolute;
top: 0px;
left:18%;
height:70px;
/*margin-left: 40%;*/
}
.colorwhite {
 color:white;
}
.collabelmedium {
 width:120px;
  height :auto ;
  float:left;
  padding:3px;
  padding-top:4px;
  text-align:right;
  font-family:Open Sans;
  font-size:14px; 
}
.alert-info {
    color: #31708f;
    background-color: #fff;
    box-shadow: 0px 0px 8px 6px #d2d2d2;
}
.ownmodalconfirm {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.4); /* Black w/ opacity */
}
.ownmodal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-top: 2px;
    border: 1px solid #888;
    width: 550px;
    height: 377px;
     box-shadow: 0 0 3px rgba(171, 164, 168, 0.62);
}
.ownmodal-content-confirmation {
    background-color: #f0eded;
    margin: 14% auto; /* 15% from the top and centered */
    height:auto;
    min-width:240px;
    width:30%;
    margin-top:9%;
    box-shadow: 0 0 3px rgba(171, 164, 168, 0.62);
}
.confirmationbox{
border: 1px solid #4f5f6f;
box-shadow: 0px 0px 8px #d8d8d8;
}
.sessionpopbody{
	height:90px;
    background-color: #fff;
    padding:6% 0px 0px 5%;
}
.confirmationboxheader {
width: 100%;
height:40px;
padding: 5px;
background-color: #303030;
color: #FFF;
font-size: 14px;
font-family:inherit;
font-weight:bold;
padding-left:3.3%;
padding-top:13px
}
.confirmationboxfooter {
width: 100%;
height: 30px;
padding-top:0px;
padding-bottom: 27px;
padding-right: 20px;
background-color: #FFF;
}
 .confirmbutton_margin{
       margin-left:52%!important;
       margin-top:-3%;
   }
   .btnchkbox{
   background-color:#d9dae1 !important;
   border:1px solid !important;
   color:black !important;
   }