input[type='radio'] {
	-webkit-appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	outline: none;
}

input[type='radio']:before {
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	margin: 20% auto;
	border-radius: 100%;
	background: radial-gradient(circle, #f0f0f0 40%, #d8d8d8 30%);
	border: 1px solid #acacac;
}

input[type='radio']:checked:before {
	background: radial-gradient(circle, #e9ffe8 40%, #0e2f44 40%);
	border: 1px solid #3980ad;
}

.paytexdiv{
  width:10%;
  height:100%;
  font-size:14px;
  cursor:pointer;
  color:white !important;
  font-family:calibri;
  font-weight:bold;
  float:left;
  padding-top:1%;
  padding-left:2%;
}
.paytexdiv:hover{
 background-color:#1d1d1d;
}

.paytexdiv_2{
     width: 11%;
    height:44px;
    padding-top: 0.5%;
    font-family:calibri;
    font-weight:bold;
    font-size: 19px;
    float: left;
    text-align: center;
}
.inpuumndiv{
 width:100%;
 height:20%;
 float:left;
 margin-top:1%;
}

.slctdiv{
    width:33%;
    border-style: solid;
    float: left;
    margin-top: -6px;
    border-radius: 4px;
    border-width: 1px;
    margin-left: 2%;
    height: 37px;
}
.inpuumntexdiv{
font-size: 16px;
    float: left;
    font-family: calibri;
    font-weight: bold;
    margin-left: 5%;
    width:8%;
    }
    .inptdiv{
   float: left !important;
    margin-left: 4.4% !important;
    height: 37px !important;
    width: 33% !important;
  border: 1px solid #a3a3a3 !important;
    } 
    
    .button_pay{
    border: none !important;
    width: 6% !important;
    height: 30px !important;
    border-radius: 6px !important;
    color: white !important;
    padding: 5px 23px !important;
    text-align: center !important;
    text-decoration: none !important;
    font-family: calibri !important;
    font-weight: bold !important;
    display: inline-block !important;
    font-size: 17px !important;
    margin: 0.3% 0% 0% 31%; !important
    cursor: pointer !important;  
    }  
    
    .hr_pay{
        /* display: block; */
    /* height: 1px; */
    /* border: 0; */
    border-top: 1px solid #ccc !important;
    
    width: 62% !important;
    padding: 0% 0% 0% 34%;
    /* margin-top: 3%; */
    margin: 3% 0% 0% 3% !important;
    } 
